body{
  background-color: #d5e1ef
}
img{
  height: 100%;
}

h2{
  text-align: center;
}

.card{
  margin-top: 150px;
}

#text{
  text-align:center;
  font-weight: 700;
  align-content: center;
  align-self: center;
}